$color-green: #1aa174;
$color-black: #36423e;
$color-red: #e35353;
$color-orange: #ff9d09;
$color-gray: #8a8a8a5c;
$color-shadow: #b8b8b887;
$color-light: #ffffff79;

.Report {
  padding: 10px 20px;
  width: 70%;
  margin: 0 auto;

  .HeadReport {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .ReportName {
      font-size: 1.5rem;
      font-weight: 600;
      text-rendering: optimizeLegibility;
    }
    .CompanyName {
      font-size: 1.1rem;
      text-rendering: optimizeLegibility;
      font-style: italic;
      font-weight: 600;
      color: $color-red;
    }
    .LocalDate {
      font-style: italic;
      font-size: 0.9rem;
    }
  }
  .Notice {
    border-top: 2px solid $color-green;
    border-bottom: 2px solid $color-green;
    padding: 5px 20px;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-style: italic;
    font-size: 0.8rem;
  }
  .BodyReport {
    margin: 20px 0;
    box-shadow: 0 0 4px 2px $color-shadow;
    border-radius: 4px;
    width: 100%;
    .Headers {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-green;
      color: white;
      font-size: 0.9rem;
      border-radius: 4px 4px 0 0;
      text-rendering: optimizeLegibility;
      .Header {
        flex: 1;
        padding: 10px;
        &:not(:first-child) {
          border-left: 1px solid $color-light;
        }
      }
    }
    .RowsReport {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 58vh;
      max-height: fit-content;
      overflow-y: scroll;
      scroll-behavior: smooth;
      .rowItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 0.8rem;
        &.parentPart {
          color: #36423e;
          font-size: 0.84rem;
          font-weight: 600;

          & p {
            position: relative;
            &:first-child {
              &::before {
                content: '*';
                color: $color-red;
                position: absolute;
                left: 2px;
              }
            }
          }
        }
        &:not(:last-child) {
          border-bottom: 1px solid $color-gray;
        }
        p {
          flex: 1;
          padding: 10px;
          height: 100%;
          &:not(:first-child) {
            border-left: 1px solid $color-gray;
          }
        }
      }
    }
  }
  .ButtonConfirm {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
