$color-green: #3fcf8e;
$color-black: #36423e;
$color-red: #da3939;
$color-orange: #ff9d09;
$color-gray: #b2b2b25c;
$color-shadow: #ebebeb87;

.Checked,
.UnChecked {
  width: 50%;
  height: 100%;
  border-radius: 100rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  opacity: 0.4;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
  cursor: pointer;
}

.Input:not(:checked) ~ .UnChecked,
.Input:checked ~ .Checked {
  background-color: $color-green;
  opacity: 1;
  color: white;
}
.Input {
  width: 0;
  height: 0;
}
.ButtonToggle {
  width: 100px;
  height: 26px;
  padding: 2px;
  border-radius: 100rem;
  -webkit-box-shadow: 0 0 0 2px $color-shadow;
  box-shadow: 0 0 0 2px $color-shadow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: $color-gray;
  margin: 5px;
}
