:root {
  --color-main: #14c38e;
  --color-main-80: #3a57e8d0;
  --color-text-gray: #8a92a6;
  --color-white: #ffffff;
  --color-gray: #8a92a6b3;
  --color-red: #ff5d5d;
  --color-green: #14c38e;
  --color-yellow: #ffd365;
  --color-blue: #0224ca;
  --color-backgroud-body: #ffffff;
}
