:root {
  --color-background-body: #ffffff;
  --color-black: #36423e;
  --color-green: #0f9a6c;
  --color-red: #da3939;
  --color-orange: #ffbf00;
  --color-shadow: #ebebeb5c;
  --color-gray: #b2b2b25c;
  --color-mint: #01be92;
}
