.Header {
  position: sticky;
  top: 0;
}
.Banner {
  width: 100%;
  height: 90vh;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2% 5%;
  gap: 40px;
  .Content {
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 20px;
    .ButtonContent {
      align-self: flex-start;
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 30px;
      .Button,
      .ButtonOutline {
        width: 200px;
        height: 40px;
        font-weight: 600;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
      }

      .ButtonOutline {
        border-color: #ffffff;
        color: #ffffff;
      }
    }
    h2 {
      color: #ffffff;
      font-size: 3rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    .SubTitle {
      align-self: flex-start;
      font-size: 1.2rem;
      font-weight: 300;
      color: #ffffff;
      opacity: 0.8;
    }
  }
  .CoinSystem {
    flex: 2;
    width: 40%;
    height: 70%;
    margin: auto;
    display: flex;

    justify-content: center;
    align-items: center;
  }
}

.Promotion {
  position: relative;
  width: 80%;
  height: 200px;
  margin: 40px auto;
  margin-bottom: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;

  .PromotionContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1.2rem;
    box-shadow: 0 0 4px 2px rgba(200, 200, 200, 0.559);

    padding: 20px;
    .TitleContent {
      font-size: 2.2rem;
      font-weight: 600;
    }
    .SubContent {
      font-size: 1rem;
      width: 60%;
    }
  }
  .ButtonSlide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .ButtonNav {
      background-color: #ffffff;
    }
  }
}

.ListArticle {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
}
.Title {
  margin: 30px 0;
  margin-top: 170px;
  text-align: center;
  color: white;
}
