@use '../../../styles/responsive/mixins' as *;

$color-green: #1aa140;
$color-black: #36423e;
$color-red: #da3939;
$color-orange: #ffae34;
$color-shadow: #bbbbbb87;
$color-mint: #00d212;

.Card {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 4px 0 $color-shadow;
  box-shadow: 0 0 4px 0 $color-shadow;
  border-radius: 4px;
  padding: 20px;
}
