@use '../../../styles/responsive/mixins' as *;

$color-green: #1aa140;
$color-black: #36423e;
$color-red: #e35353;
$color-orange: #ffae34;
$color-shadow: #ebebeb87;
$color-mint: #00d212;

.Card {
  width: 100%;
  box-shadow: 0 0 3px 2px $color-shadow;
  margin: 4px;
  border-radius: 4px;
  padding: 20px;
  backdrop-filter: blur(30px);
}
