@use '../../responsive/mixins' as *;

$color-green: #0f9a6c;
$color-black: #36423e;
$color-red: #da3939;
$color-orange: #ffd518;
$color-shadow: #ebebeb5c;
$color-gray: #b2b2b25c;
$color-mint: #01be92;

.Button {
  height: 34px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  gap: 10px;

  padding: 5px 20px;
  color: white;
  border: none;
  outline: none;

  transition: all linear 0.1s;
  background-color: $color-black;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  font-size: 0.85rem;
  opacity: 0.9;

  cursor: pointer;
  &.Outline {
    border: 1px solid $color-black;
    color: $color-black;
    background: none;
  }
  &:hover {
    transform: scale(1.03);
    opacity: 1;
    transition: all linear 0.1s;
    text-rendering: optimizeLegibility;
    box-shadow: 0 0 4px 2px $color-gray;
  }
}
.ButtonPrimary {
  background-color: #fbab7e;

  background-color: $color-green;
  &.Outline {
    border: 1px solid $color-green;
    color: $color-green;
    background: none;
  }
}
.ButtonDanger {
  background-color: $color-red;
  color: white;
  &.Outline {
    border: 1px solid $color-red;
    color: $color-red;
    background: none;
  }
}
.ButtonWarning {
  background-color: $color-orange;
  color: white;
  &.Outline {
    border: 1px solid $color-orange;
    color: $color-orange;
    background: none;
  }
}

.ButtonMedium {
  width: 30px;
  height: 15px;
  background-color: $color-mint;
}

.ButtonSmall {
  width: 25px;
  height: 10px;
  background-color: $color-green;
}
