@use '../../responsive/mixins' as *;

$color-green: #1aa174;
$color-black: #36423e;
$color-red: #e35353;
$color-orange: #ffae34;
$color-shadow: #ebebeb87;
$color-mint: #00d2a0;

.Button {
  height: 35px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  border: 2px solid $color-shadow;
  outline: none;
  transition: all linear 0.1s;
  background-color: $color-black;
  font-size: 0.9rem;
  box-shadow: 0 0 4px 2px $color-shadow;

  cursor: pointer;
  &.Outline {
    border: 1px solid $color-black;
    color: $color-black;
    background: none;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px 4px $color-shadow;
    transition: all linear 0.1s;
    text-rendering: optimizeSpeed;
  }
}
.ButtonPrimary {
  background-color: #fbab7e;

  background-color: $color-green;
  &.Outline {
    border: 1px solid $color-green;
    color: $color-green;
    background: none;
  }
}
.ButtonDanger {
  background-color: $color-red;
  color: white;
  &.Outline {
    border: 1px solid $color-red;
    color: $color-red;
    background: none;
  }
}
.ButtonWarning {
  background-color: $color-orange;
  color: white;
  &.Outline {
    border: 1px solid $color-orange;
    color: $color-orange;
    background: none;
  }
}

.ButtonMedium {
  width: 30px;
  height: 15px;
  background-color: $color-mint;
}

.ButtonSmall {
  width: 25px;
  height: 10px;
  background-color: $color-green;
}
