@use '../../../styles/abstracts/mixins' as *;

$color-green: #3fcf8e;
$color-black: #36423e;
$color-red: #e35353;
$color-orange: #ff9d09;
$color-gray: #4d4d4dcb;
$color-shadow: #ebebeb4b;
$color-opacity-white: #e4e4e474;
$color-header: #2727277c;
.HeaderContainer {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $color-header;
}
.Header {
  width: 100%;
  height: 80px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 4px 1px $color-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 40px;
  gap: 20px;

  font-size: 0.93rem;
  @include md {
    height: fit-content;
  }
  .Logo {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    gap: 20px;
    img {
      width: 100px;
      height: 50px;
      object-fit: cover;
    }
    @include md {
      flex: 1;
      gap: 10px;
      p {
        font-size: 1.2rem;
      }
    }
  }
  .NavLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    @include md {
      display: none;
    }
    a {
      transition: all ease-in-out 0.2s;
    }
    a:hover {
      color: white;
      transition: all ease-in 0.1s;
      font-size: 1rem;
    }

    gap: 40px;
  }
  .User {
    display: flex;
    justify-content: center;
    align-items: center;
    @include md {
      flex: 3;
      flex-wrap: wrap;
    }
    gap: 20px;
    padding: 0 20px;
    border-left: 1px solid $color-gray;
  }
  .MdButton {
    @include md {
      width: 28%;
    }
  }
}
.ButtonLang {
  @include md {
    display: none;
  }
}
.ButtonSignIn {
  color: white !important;
  border: 2px solid white !important;
  background: none;
}
