@use '../../../styles/responsive/mixins' as *;

$color-green: #3fcf8e;
$color-black: #36423e;
$color-red: #e35353;
$color-orange: #ff9d09;
$color-gray: #b2b2b25c;
$color-shadow: #ebebeb87;
.ButtonIcon {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-green;
  border-radius: 100rem;
  transition: all linear 0.1s;
  box-shadow: 0 0 4px 2px $color-gray;
  border: none;
  outline: none;
  cursor: pointer;
  & svg {
    color: white;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px 4px $color-shadow;
    transition: all linear 0.1s;
  }
}
