@use '../../../styles/responsive/mixins' as *;

$color-green: #3fcf8e;
$color-white: white;
$color-blue: #0d76c1;
$color-red: #e35353;
$color-gray: #dbdbdb7c;
$color-orange: #ff9d09;
$color-mint: #0cceab;
$color-shadow: #c6c5c587;
$color-dark: rgb(116, 124, 156);
.Table {
  border-collapse: collapse;
  font-size: 0.9rem;
  width: fit-content;
  margin: 0 auto;
  max-width: 100vw;
  overflow: scroll;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 4px 1px $color-shadow;
  border: none;

  .TablePrimary {
  }
}

.Th {
  min-width: 120px;
  height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  border: none;

  .ThPrimary {
  }
}

.Td {
  vertical-align: middle;
  text-align: center;
  font-size: 0.85rem;
  border: none;
  .TdPrimary {
  }
}

.Tr {
  height: 48px;
  border: 1px solid $color-gray;
  border-left-width: 0px;
  border-right-width: 0px;
  &:last-child {
    border-bottom-width: 0px;
  }

  .TrPrimary {
  }
}

.Header {
  background-color: $color-dark;
  color: white;
  border-radius: inherit;
  border: 0px;

  .HeaderPrimary {
  }
}
