@use './base/reset';
@use './abtracts/variables';
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
div {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
