@use './base/reset';
@use './abstracts/variables';
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeSpeed;
  font-family: 'Poppins', Arial, sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  // background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnUB7y4Cj925u6R_0VUdoTlrEGwqniyIZvDbdHrrDkmNIsWZkwPdv823nzKdC7WCMmoDA&usqp=CAU');
  // background-size: cover;

  ::-moz-selection {
    /* Code for Firefox */
    color: #232323;
    background: var(--color-mint);
  }

  ::selection {
    color: #232323;
    background: var(--color-mint);
    font-weight: 600;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

// div {
//   -webkit-touch-callout: none; /* iOS Safari */
//   -webkit-user-select: none; /* Safari */
//   -khtml-user-select: none; /* Konqueror HTML */
//   -moz-user-select: none; /* Old versions of Firefox */
//   -ms-user-select: none; /* Internet Explorer/Edge */
//   user-select: none; /* Non-prefixed version, currently
//                                   supported by Chrome, Edge, Opera and Firefox */
// }
